absl-py==0.2.2
aiml==0.9.1
alembic==0.9.9
arrow==0.12.1
astor==0.7.1
backports.weakref==1.0rc1
beautifulsoup4==4.6.0
bleach==3.1.4
boto==2.48.0
boto3==1.7.25
botocore==1.10.25
bz2file==0.98
cached-property==1.4.0
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
cssselect==1.0.3
cycler==0.10.0
defusedxml==0.5.0
docker-pycreds==0.2.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
ExifRead==2.1.2
gast==0.2.0
gensim==3.4.0
google-api-core==1.2.1
google-api-python-client==1.6.7
google-auth==1.4.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
google-cloud-speech==0.35.0
googleapis-common-protos==1.5.3
grpcio==1.13.0
html5lib==0.9999999
httplib2==0.18.0
idna==2.6
itsdangerous==0.24
jmespath==0.9.3
jsonschema==2.6.0
kiwisolver==1.0.1
lxml==4.6.2
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
nltk==3.4.5
numpy==1.14.3
oauth2client==4.1.2
oauthlib==2.1.0
pandas==0.22.0
protobuf==3.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
PyAudio==0.2.11
pybaseball==1.0.6
pycurl==7.43.0.1
PyJWT==1.6.4
pyobjc==4.2.2
pyobjc-core==4.2.2
pyobjc-framework-Accounts==4.2.2
pyobjc-framework-AddressBook==4.2.2
pyobjc-framework-AppleScriptKit==4.2.2
pyobjc-framework-AppleScriptObjC==4.2.2
pyobjc-framework-ApplicationServices==4.2.2
pyobjc-framework-Automator==4.2.2
pyobjc-framework-AVFoundation==4.2.2
pyobjc-framework-AVKit==4.2.2
pyobjc-framework-BusinessChat==4.2.2
pyobjc-framework-CalendarStore==4.2.2
pyobjc-framework-CFNetwork==4.2.2
pyobjc-framework-CloudKit==4.2.2
pyobjc-framework-Cocoa==4.2.2
pyobjc-framework-Collaboration==4.2.2
pyobjc-framework-ColorSync==4.2.2
pyobjc-framework-Contacts==4.2.2
pyobjc-framework-ContactsUI==4.2.2
pyobjc-framework-CoreBluetooth==4.2.2
pyobjc-framework-CoreData==4.2.2
pyobjc-framework-CoreLocation==4.2.2
pyobjc-framework-CoreML==4.2.2
pyobjc-framework-CoreServices==4.2.2
pyobjc-framework-CoreSpotlight==4.2.2
pyobjc-framework-CoreText==4.2.2
pyobjc-framework-CoreWLAN==4.2.2
pyobjc-framework-CryptoTokenKit==4.2.2
pyobjc-framework-DictionaryServices==4.2.2
pyobjc-framework-DiskArbitration==4.2.2
pyobjc-framework-EventKit==4.2.2
pyobjc-framework-ExceptionHandling==4.2.2
pyobjc-framework-ExternalAccessory==4.2.2
pyobjc-framework-FinderSync==4.2.2
pyobjc-framework-FSEvents==4.2.2
pyobjc-framework-GameCenter==4.2.2
pyobjc-framework-GameController==4.2.2
pyobjc-framework-GameKit==4.2.2
pyobjc-framework-GameplayKit==4.2.2
pyobjc-framework-ImageCaptureCore==4.2.2
pyobjc-framework-IMServicePlugIn==4.2.2
pyobjc-framework-InputMethodKit==4.2.2
pyobjc-framework-InstallerPlugins==4.2.2
pyobjc-framework-InstantMessage==4.2.2
pyobjc-framework-Intents==4.2.2
pyobjc-framework-IOSurface==4.2.2
pyobjc-framework-iTunesLibrary==4.2.2
pyobjc-framework-LatentSemanticMapping==4.2.2
pyobjc-framework-LaunchServices==4.2.2
pyobjc-framework-libdispatch==4.2.2
pyobjc-framework-LocalAuthentication==4.2.2
pyobjc-framework-MapKit==4.2.2
pyobjc-framework-MediaAccessibility==4.2.2
pyobjc-framework-MediaLibrary==4.2.2
pyobjc-framework-MediaPlayer==4.2.2
pyobjc-framework-ModelIO==4.2.2
pyobjc-framework-MultipeerConnectivity==4.2.2
pyobjc-framework-NetFS==4.2.2
pyobjc-framework-NetworkExtension==4.2.2
pyobjc-framework-NotificationCenter==4.2.2
pyobjc-framework-OpenDirectory==4.2.2
pyobjc-framework-Photos==4.2.2
pyobjc-framework-PhotosUI==4.2.2
pyobjc-framework-PreferencePanes==4.2.2
pyobjc-framework-PubSub==4.2.2
pyobjc-framework-QTKit==4.2.2
pyobjc-framework-Quartz==4.2.2
pyobjc-framework-SafariServices==4.2.2
pyobjc-framework-SceneKit==4.2.2
pyobjc-framework-ScreenSaver==4.2.2
pyobjc-framework-ScriptingBridge==4.2.2
pyobjc-framework-SearchKit==4.2.2
pyobjc-framework-Security==4.2.2
pyobjc-framework-SecurityFoundation==4.2.2
pyobjc-framework-SecurityInterface==4.2.2
pyobjc-framework-ServiceManagement==4.2.2
pyobjc-framework-Social==4.2.2
pyobjc-framework-SpriteKit==4.2.2
pyobjc-framework-StoreKit==4.2.2
pyobjc-framework-SyncServices==4.2.2
pyobjc-framework-SystemConfiguration==4.2.2
pyobjc-framework-Vision==4.2.2
pyobjc-framework-WebKit==4.2.2
pyowm==2.8.0
pyparsing==2.2.0
pyquery==1.4.0
PySocks==1.6.8
pyspider==0.3.10
python-dateutil==2.7.3
python-editor==1.0.3
pyttsx3==2.7
pytz==2017.3
PyYAML==5.1
redis==2.10.6
requests==2.20.0
requests-oauthlib==0.8.0
rq==0.11.0
rq-dashboard==0.3.11
rsa==3.4.2
s3transfer==0.1.13
scipy==1.1.0
six==1.11.0
smart-open==1.5.7
spotipy==2.4.4
SQLAlchemy==1.2.8
tblib==1.3.2
tensorboard==1.8.0
tensorflow==1.15.2
termcolor==1.1.0
textblob==0.15.1
texttable==0.9.1
tornado==4.5.3
twilio==6.14.9
u-msgpack-python==2.5.0
uritemplate==3.0.0
urllib3==1.24.2
virtualenv==16.0.0
websocket-client==0.47.0
wikipedia==1.4.0
WsgiDAV==2.3.0
WTForms==2.1
